In [120]:
#First we load all the important libraries that will be used 
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.preprocessing import StandardScaler

As we have all the libraries needed to make our models and compare which one would be the best to use for prediction. Now we have upload the required data on the console.

In [147]:
#Uploading the file 
df = pd.read_csv("Train_data.csv")
testdf = pd.read_csv("Test_data.csv")

In [148]:
#The file is loaded. Now lets check the dimension of the data
print(df.shape)

(3333, 21)

In [149]:
#Lets start by checking the head of the data
df.head(5)

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,number customer service calls,Churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [150]:
#Now we check the tail of the data. This is important as we get the gist of data as what type
#of values does it store 
df.tail(5)

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,number customer service calls,Churn
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False.
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False.
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False.
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False.
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False.

In [151]:
#After looking at the data we now need to know structure of the dataset
df.info()
#The dataset has no NA data in the fields which spares us from removing those rows or replacing them with other values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
state                            3333 non-null object
account length                   3333 non-null int64
area code                        3333 non-null int64
phone number                     3333 non-null object
international plan               3333 non-null object
voice mail plan                  3333 non-null object
number vmail messages            3333 non-null int64
total day minutes                3333 non-null float64
total day calls                  3333 non-null int64
total day charge                 3333 non-null float64
total eve minutes                3333 non-null float64
total eve calls                  3333 non-null int64
total eve charge                 3333 non-null float64
total night minutes              3333 non-null float64
total night calls                3333 non-null int64
total night charge               3333 non-null float64
total intl minutes               3333 non-null float64
total intl calls                 3333 non-null int64
total intl charge                3333 non-null float64
number customer service calls    3333 non-null int64
Churn                            3333 non-null object
dtypes: float64(8), int64(8), object(5)
memory usage: 546.9+ KB

In [152]:
#Statistics can give us a great insight of the shape of each attribute
df.describe()

,account length,area code,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,number customer service calls
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [153]:
#As we don't need phone numbers we can simply drop it from the data
df = df.drop(['phone number'], axis = 1)
testdf = testdf.drop(['phone number'], axis = 1)
list(df)

['state',
 'account length',
 'area code',
 'international plan',
 'voice mail plan',
 'number vmail messages',
 'total day minutes',
 'total day calls',
 'total day charge',
 'total eve minutes',
 'total eve calls',
 'total eve charge',
 'total night minutes',
 'total night calls',
 'total night charge',
 'total intl minutes',
 'total intl calls',
 'total intl charge',
 'number customer service calls',
 'Churn']

In [155]:
#Data preprocessing

#Now we seperate our results and data to train on
data_train = df.iloc[:,:-1].values
data_result = df.iloc[:,19].values

#Same for the test data 
testData_train = testdf.iloc[:,:-1].values
testData_result = testdf.iloc[:,19].values

In [156]:
#As we have categorical data in our set we need to encode it to numbers so that it could fit in our models
labelEncoder_train = LabelEncoder()
#Encoding data_train & testData_train
#Encode states
data_train[:, 0] =labelEncoder_train.fit_transform(data_train[:, 0])
testData_train[:, 0] = labelEncoder_train.fit_transform(testData_train[:, 0])
#Encode international plan
data_train[:,3]  =labelEncoder_train.fit_transform(data_train[:, 3])
testData_train[:,3]  =labelEncoder_train.fit_transform(testData_train[:, 3])
#Encode voice mail plan
data_train[:,4] =labelEncoder_train.fit_transform(data_train[:, 4])
testData_train[:,4] =labelEncoder_train.fit_transform(testData_train[:, 4])

In [157]:
#Encoding data_result data
labelEncoder_result = LabelEncoder()
data_result = labelEncoder_result.fit_transform(data_result)

#Encoding testData_result 
testData_result = labelEncoder_result.fit_transform(testData_result)

In [158]:
#Feature Scaling
standardScaler = StandardScaler()
data_train = standardScaler.fit_transform(data_train)
testData_train = standardScaler.fit_transform(testData_train)

In [159]:
#The data is processed now all we have to do is fit the model into the data 

#Decision Tree Classifier
from sklearn.tree import DecisionTreeClassifier
decisionTree = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
decisionTree.fit(data_train, data_result)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [164]:
#predicting the testData_train 
predictedResultDecisionTree = decisionTree.predict(testData_train)

In [165]:
#Making a confusion matrix from decision tree classifier
from sklearn.metrics import confusion_matrix
confusionMatrixDecisionTree = confusion_matrix(testData_result, predictedResultDecisionTree)

In [167]:
print("Confusion Matrix of Decision Tree Classifier")
print(confusionMatrixDecisionTree)

Confusion Matrix of Decision Tree Classifier
[[1371   72]
 [  75  149]]

In [168]:
#Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
randomForest = RandomForestClassifier(n_estimators = 10, criterion = "entropy")
randomForest.fit(data_train, data_result)

#predicting the testData_train
predictedResultRandomForest = randomForest.predict(testData_train)

/anaconda2/lib/python2.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [169]:
#Makifn a confusion matrix from random forest 
confusionMatrixRandomForest = confusion_matrix(testData_result, predictedResultRandomForest)
print("Confusion Matrix of Random Forest Classifier")
print(confusionMatrixRandomForest)

Confusion Matrix of Random Forest Classifier
[[1431   12]
 [  75  149]]